svg{
  width: 86px;
  height: 43px;}
svg #border-box{
  stroke: #161616;
  stroke-width: 2px;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  stroke-linecap: butt;
  transition: all 1.5s ease-out;
}
svg:hover #border-box{
  /*stroke: #C5A370;
  stroke-width: 1px;*/
  fill: #161616;
  stroke-dashoffset: 0;
  stroke-dasharray: 700;
  stroke-width: 3;
  opacity: 0;
}
svg g path{
  transition: all 1.5s ease-out;
}
svg:hover g path{
  fill: #fff;
}
