@charset "UTF-8";
/*! ui-carousel-refactoring.js © heoyunjee, 2016 */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16 {
  float: left;
}

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16 {
  position: relative;
}

.row.isolate .col-1, .row.isolate .col-2, .row.isolate .col-3, .row.isolate .col-4, .row.isolate .col-5, .row.isolate .col-6, .row.isolate .col-7, .row.isolate .col-8, .row.isolate .col-9, .row.isolate .col-10, .row.isolate .col-11, .row.isolate .col-12, .row.isolate .col-13, .row.isolate .col-14, .row.isolate .col-15, .row.isolate .col-16 {
  margin-right: -100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.container.adaptive {
  width: 1920px;
  background: #fff;
}

.container.adaptive.show-grid {
  position: relative;
}

.container.adaptive.show-grid::before {
  content: '';
  position: absolute;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgba(217, 217, 217, 0.3) 50%, rgba(156, 156, 156, 0.75) 50%);
  background-size: 240px 1px;
}

/* row */
.row::after {
  content: '';
  display: block;
  clear: both;
}

/* column */
.col-1 {
  width: 120px;
}

.col-2 {
  width: 240px;
}

.col-3 {
  width: 360px;
}

.col-4 {
  width: 480px;
}

.col-5 {
  width: 600px;
}

.col-6 {
  width: 720px;
}

.col-7 {
  width: 840px;
}

.col-8 {
  width: 960px;
}

.col-9 {
  width: 1080px;
}

.col-10 {
  width: 1200px;
}

.col-11 {
  width: 1320px;
}

.col-12 {
  width: 1440px;
}

.col-13 {
  width: 1560px;
}

.col-14 {
  width: 1680px;
}

.col-15 {
  width: 1800px;
}

.col-16 {
  width: 1920px;
}

/* push */
.push-1 {
  left: 120px;
}

.push-2 {
  left: 240px;
}

.push-3 {
  left: 360px;
}

.push-4 {
  left: 480px;
}

.push-5 {
  left: 600px;
}

.push-6 {
  left: 720px;
}

.push-7 {
  left: 840px;
}

.push-8 {
  left: 960px;
}

.push-9 {
  left: 1080px;
}

.push-10 {
  left: 1200px;
}

.push-11 {
  left: 1320px;
}

.push-12 {
  left: 1440px;
}

.push-13 {
  left: 1560px;
}

.push-14 {
  left: 1680px;
}

.push-15 {
  left: 1800px;
}

.push-16 {
  left: 1920px;
}

/* pull */
.pull-1 {
  right: 120px;
}

.pull-2 {
  right: 240px;
}

.pull-3 {
  right: 360px;
}

.pull-4 {
  right: 480px;
}

.pull-5 {
  right: 600px;
}

.pull-6 {
  right: 720px;
}

.pull-7 {
  right: 840px;
}

.pull-8 {
  right: 960px;
}

.pull-9 {
  right: 1080px;
}

.pull-10 {
  right: 1200px;
}

.pull-11 {
  right: 1320px;
}

.pull-12 {
  right: 1440px;
}

.pull-13 {
  right: 1560px;
}

.pull-14 {
  right: 1680px;
}

.pull-15 {
  right: 1800px;
}

.pull-16 {
  right: 1920px;
}

/* prefix */
.prefix-1 {
  margin-left: 120px;
}

.prefix-2 {
  margin-left: 240px;
}

.prefix-3 {
  margin-left: 360px;
}

.prefix-4 {
  margin-left: 480px;
}

.prefix-5 {
  margin-left: 600px;
}

.prefix-6 {
  margin-left: 720px;
}

.prefix-7 {
  margin-left: 840px;
}

.prefix-8 {
  margin-left: 960px;
}

.prefix-9 {
  margin-left: 1080px;
}

.prefix-10 {
  margin-left: 1200px;
}

.prefix-11 {
  margin-left: 1320px;
}

.prefix-12 {
  margin-left: 1440px;
}

.prefix-13 {
  margin-left: 1560px;
}

.prefix-14 {
  margin-left: 1680px;
}

.prefix-15 {
  margin-left: 1800px;
}

.prefix-16 {
  margin-left: 1920px;
}

/* suffix */
.suffix-1 {
  margin-right: 120px;
}

.suffix-2 {
  margin-right: 240px;
}

.suffix-3 {
  margin-right: 360px;
}

.suffix-4 {
  margin-right: 480px;
}

.suffix-5 {
  margin-right: 600px;
}

.suffix-6 {
  margin-right: 720px;
}

.suffix-7 {
  margin-right: 840px;
}

.suffix-8 {
  margin-right: 960px;
}

.suffix-9 {
  margin-right: 1080px;
}

.suffix-10 {
  margin-right: 1200px;
}

.suffix-11 {
  margin-right: 1320px;
}

.suffix-12 {
  margin-right: 1440px;
}

.suffix-13 {
  margin-right: 1560px;
}

.suffix-14 {
  margin-right: 1680px;
}

.suffix-15 {
  margin-right: 1800px;
}

.suffix-16 {
  margin-right: 1920px;
}

/* isolate */
.row.isolate .order-1 {
  margin-left: 0px;
}

.row.isolate .order-2 {
  margin-left: 120px;
}

.row.isolate .order-3 {
  margin-left: 240px;
}

.row.isolate .order-4 {
  margin-left: 360px;
}

.row.isolate .order-5 {
  margin-left: 480px;
}

.row.isolate .order-6 {
  margin-left: 600px;
}

.row.isolate .order-7 {
  margin-left: 720px;
}

.row.isolate .order-8 {
  margin-left: 840px;
}

.row.isolate .order-9 {
  margin-left: 960px;
}

.row.isolate .order-10 {
  margin-left: 1080px;
}

.row.isolate .order-11 {
  margin-left: 1200px;
}

.row.isolate .order-12 {
  margin-left: 1320px;
}

.row.isolate .order-13 {
  margin-left: 1440px;
}

.row.isolate .order-14 {
  margin-left: 1560px;
}

.row.isolate .order-15 {
  margin-left: 1680px;
}

.row.isolate .order-16 {
  margin-left: 1800px;
}
